<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item" do %>
      <h1 class="title is-4 evenTap"> EvenTap </h1>
    <% end %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Home", root_path, class: "navbar-item" %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped level">
          <% if user_signed_in? %>
            <p class="control">
              <%= link_to "Create Event", new_event_path, class: "button is-info is-inverted" %>
            </p>
            <p class="control">
              <%= link_to current_user.email, class: "text-info is-inverted" %>
            </p>
            <p class="control">
              <%= link_to "Signout", destroy_user_session_path, method: :delete,  class: "text-info is-inverted" %>
            </p>
          <% else %>
            <p class="control">
              <%= link_to "Signin", new_user_session_path, class: "button is-primary" %>
            </p>
            <p class="control">
              <%= link_to "SignUp", new_user_registration_path, class: "button is-light" %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>