<section class="container">
  <div class="columns is-centered is-multiline is-mobile my-5 ">
    <% @events.each do | event | %>
      <div class="card column is-3 box">
        <div class="card-header p-5">
          <div class="media-content">
            <button class="button is-primary is-light is-small is-pulled-right"><%= event.eventType %></button>
            <p class="title is-4"> <%= event.name %> </p>
            <p class="subtitle is-6"> <strong>Author:</strong> <%= event.user.name %></p>
            <button class="button is-danger is-light is-small is-pulled-right">Past</button>
          </div>
        </div>
        <div class="card-content description">
          <div class="content py-5">
            <%= event.description %>
          </div>
        </div>
        <div class="card-content">
          <strong>Created </strong><%= time_ago_in_words(event.created_at) %> ago
        </div>
        <div class="card-footer py-0 pl-2">
          <nav class="level">
            <div class="level-left is-mobile is-pulled-right py-3">
              <%= link_to event, class: "level-item" do %>
                  <span class="icon "> Detail </span>
              <% end %>
            </div>
          </nav>
        </div>

      </div>
    <% end %>
  </div>
</section>
